.env
**/.vscode/
**/*egg*
**/*.pyc
**/*_cache
*coverage*

venv/
**/.terraform*
/dependencies/layers/*
/dependencies/packages/*
**/__pycache__/** */
!/dependencies/layers/.gitkeep
!/dependencies/packages/.gitkeep
/deployment/handlers/*
!/deployment/handlers/.gitkeep